.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center-all {
    margin: auto;
    width: 25%;
    border: 8px solid rgb(60, 170, 56);
    padding: 10px;
}

p{
    font-size:large;
    font-weight:400;
}

